html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 5pc;
  line-height: 4pc;
  cursor: url("assets/farfchiusa.png"), auto;
}

canvas {
  display: block;
}

.paragrafo {
  margin-top: 0;
}

@font-face {
  font-family: PP Editorial New;
  src: url(PPEditorialNew-UltralightItalic.otf);
}
.editorial {
  color: #be80ff;
  font-family: PP Editorial New;
}
.editorialbianco {
  color: #ffffff;
  font-family: PP Editorial New;
}

.skip {
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}

.caption {
  margin-top: 300px;
  margin-left: 50px;
}

.about {
  margin-top: 80px;
  margin-left: 50px;
}

.info {
  color: #ffffff;
  font-size: 1.5pc;
}

.infoviola {
  color: #be80ff;
  font-size: 1.5pc;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}
a:hover,
a:active {
  font-family: PP Editorial New;
  text-decoration: none;
  color: #be80ff;
  cursor: url("assets/farfchiusa.png"), auto;
}
